
#logo_header{
    width: 200px;
    margin-left: 50px;

}

#titolo {
    margin-left: 50px;
    margin-bottom: 0;
    font-size: 30px;
}

#sottotitolo {
    margin-left: 50px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 11px;
    color:gray
}

#sottotitolo1 {
    margin-left: 50px;
    margin-top: 0;
    font-size: 11px;
    color: grey;
}


span {
    color: rgb(90, 90, 247);
}

.contenitore {
    background-color: rgb(60, 148, 199);
    background-image: url('./pattern.png');
    background-position: center;
    background-repeat: repeat;

}

