
#logo_header{
    width: 200px;
    margin-left: 50px;

}

#titolo {
    margin-left: 50px;
    margin-bottom: 0;
    font-size: 30px;
}

#sottotitolo {
    margin-left: 50px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 11px;
    color:gray
}

#sottotitolo1 {
    margin-left: 50px;
    margin-top: 0;
    font-size: 11px;
    color: grey;
}

#photo1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 11px;
}

#photo2 {
     margin-top: 0;
    font-size: 11px;
}

span {
    color: rgb(90, 90, 247);
}

.container {
    background-color: rgb(121, 199, 245);
    background-image: url('./pattern.png');
    background-position: center;
    background-repeat: repeat;

}

.container1 {
    margin-left: 50px;
    
}
