
#logo_header{
    width: 200px;
    margin-left: 50px;

}

#titolo {
    
    margin-bottom: 0;
    font-size: 30px;
}

#sottotitolo {
   
    margin-top: 0;
    margin-bottom: 0;
    font-size: 11px;
    color:gray
}

#sottotitolo1 {
   
    margin-top: 0;
    font-size: 11px;
    color: grey;
}

#photo1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 11px;
}

#photo2 {
     margin-top: 0;
    font-size: 11px;
}

#text_footer {
    text-align: center;
    color: white;
}

main {
    margin-left: 50px;
    margin-right: 50px;
}


span {
    color: rgb(90, 90, 247);
}

.container {
    background-color: rgb(121, 199, 245);
    background-image: url('./pattern.png');
    background-position: center center;
    background-repeat: repeat;
    background-size: 25%;
    
}

.container1 img {
    height: 270px;
}

.section3 {
    font-size: 15px;
}

.section3 ul {
    margin-left: -25px; 
}

.container2 {
    margin-top: 20px;
    background-color: #3b4471;
}